@font-face {
  font-family: DMSan;
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DMSan, opensan;
  overflow-x: hidden;
}
